body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	margin: 0;
	text-align: left;
	width: 100%;
	background-image: url("Light Parchment.jpg");
	width: 60%;
	margin: 1% auto;
	
}

#Tony {
	
	float: left;
}
	

	h1 {
	font-family: "Arial Bold";
	font-size: 49px;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 49px;
	margin: 0;
	text-align: center;
}

h2 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 30px;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
	margin: 0;
	text-align: center;
}

p {
	padding: 0px;
    margin: 0px;
}

ul#menu {
	padding:0;
	text-align: center;
}
ul#menu li {
	display:inline;
	!top: 0;
	!left: 0;
}
ul#menu li a {
		background-color:grey;
		color:white;
		padding:10px 20px;
		text-decoration:none;
		border-radius: 5000px 5000px 0 0;
}
ul#menu li a:hover {
	background-color:black;
}

.intro {
	margin-top: 10px;

}

.contact {
	margin: 10%;
}

h3, p{
margin:0;
}

#stpaul, #metro {
	margin-top: 5%;
}